# My React JS and React Native Snippets

snippet isc "Import style components" b
import styled from 'styled-components';
endsnippet

snippet irn "import react native" b
import { ${1:View} } from 'react-native';
endsnippet

snippet jsx "Write jsx faster"
<$1>$0</$1>
endsnippet
