snippet ns "declare namespace at beginning of the file"
<?php

namespace $0;
endsnippet

snippet mc
/**
 * $0
 */
endsnippet

snippet sc
/** $0 */
endsnippet

snippet vc
/** @var $0 */
endsnippet

snippet pa
@param $0
endsnippet

snippet re
@return $0
endsnippet

snippet th
@throws $0
endsnippet

snippet TestCaseSnip
use TestCase;
endsnippet

snippet RequestSnip
use Illuminate\Http\Request;
endsnippet

snippet ResponseSnip
use Illuminate\Http\Response;
endsnippet
